@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Variables */
	--text: #f8f8f8;
	--background: #1c1c1c;
	--fallback-bg: #1d232a;
	--primary: #38c284;
	--secondary: #0d5163;
	--accent: #232323;
	--success: #50ffb4;
	--neutral: #ebecf0;
	--danger: #ea3439;
	--warning: #ffab00;
}

/* Elements prestyles */
header,
footer,
main,
form,
div {
	@apply flex flex-col w-full items-center justify-center bg-background;
}

header {
	@apply flex-row h-16 justify-start px-3;
}
/* react icons */
svg {
	@apply h-8 w-8 text-primary;
}

h1,
h2,
h3,
h4 {
	@apply font-bold text-2xl text-primary font-heading;
}

h2 {
	@apply text-xl font-base;
}

h3 {
	@apply text-base font-base;
}

span,
p {
	@apply text-base font-base text-text;
}

button {
	@apply bg-accent rounded-[3rem] px-2 py-3 my-2;
}

button > span {
	@apply text-sm;
}

input[type="text"] {
	all: unset;
	@apply text-text bg-accent;
}

@layer components {
	.dot {
		@apply w-2 h-2 rounded-full bg-text mx-1 animate-bounce opacity-40;
	}
	.bottom-tab {
		@apply p-2 rounded-none bg-background w-full flex items-center justify-center;
	}
	.bottom-tab > button {
		@apply flex items-center justify-center bg-background p-0 m-0 h-full w-full;
	}
}
